Email Voice Assistant.json
{
  "name": "Email Voice Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f2265fc3-ebf0-4d02-810a-baf84ee96af4",
        "options": {
          "binaryPropertyName": "audio"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3280,
        144
      ],
      "id": "1223d32d-38d6-4971-b786-8d985b92403f",
      "name": "Webhook",
      "webhookId": "f2265fc3-ebf0-4d02-810a-baf84ee96af4"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2928,
        208
      ],
      "id": "69159dcf-f79f-445c-989a-a50028bb47bf",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "Y6b1LGalv1H0QOQh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let recipient = null;\nlet transcription = null;\n\n// Step 1: Get recipient (email) from Gemini/AI output\nfor (const item of items) {\n  if (item.json.output && typeof item.json.output === \"string\") {\n    try {\n      const parsed = JSON.parse(item.json.output.replace(/```json|```/g, \"\").trim());\n      if (parsed.recipient) {\n        recipient = parsed.recipient.trim();\n      }\n    } catch (e) {\n      // ignore parsing errors\n    }\n  }\n}\n\n// Step 2: Get transcription text\nfor (const item of items) {\n  if (item.json.content && item.json.content.parts) {\n    transcription = item.json.content.parts[0].text.trim();\n  }\n}\n\n// Step 3: Directly use recipient as email\nlet email = recipient || null;\n\n// Step 4: Return combined output\nreturn [\n  {\n    json: {\n      email,\n      text: transcription\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        80
      ],
      "id": "c012bcc5-ef50-49f7-adb7-f6a82a880d08",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text || \"\";\nconst email = $json.email || \"\";\n\n// Build a generic prompt for Gemini\nconst prompt = `\nYou are a helpful assistant.\n\nUser said: \"${text}\"\nRecipient email (must be used exactly as given, no changes allowed): \"${email}\"\n\nYour job:\n1. Understand what the user is asking.\n2. If it's a generic request like \"send a message\", create a short, natural, friendly greeting message.\n3. If it's a specific request (e.g., weather report, cover letter, reminder, update), generate a clear and human-like message body that matches exactly what was asked.\n4. Do not include the recipient name in the message body.\n5. Return ONLY valid JSON in the following format (email must be exactly the same as provided, without edits):\n\n{\n  \"email\": \"${email}\",\n  \"message\": \"<generated message text>\"\n}\n`.trim();\n\nreturn [\n  {\n    json: {\n      email,\n      prompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        80
      ],
      "id": "83ea6546-6697-4e7b-8dc5-2c2eeaed576b",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1344,
        80
      ],
      "id": "dbc3d868-f698-475f-b518-00c1e2b4de04",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1424,
        288
      ],
      "id": "e2368425-4337-4557-8439-41a7ff57a294",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Y6b1LGalv1H0QOQh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $json.email || \"\";\nconst subject = $json.subject || \"Message for You\";\nconst message = $json.message || \"\";\nconst recipient = $json.recipient || \"Friend\"; // fallback if not provided\n\n// Professional HTML body without placeholder name\nconst formattedBody = `\n<html>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <p>Dear ${recipient},</p>\n    <p>${message}</p>\n    <p style=\"margin-top: 20px;\">Best regards,</p>\n  </body>\n</html>\n`.trim();\n\nreturn [\n  {\n    json: {\n      email,\n      subject,\n      body: formattedBody\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        16
      ],
      "id": "699d3408-d4ba-462a-b321-12a6db5b3358",
      "name": "Code2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        272
      ],
      "id": "99e2c8ae-e3f1-4ee7-845d-778a6a15b0d7",
      "name": "Send a message",
      "webhookId": "fdc254c1-e035-43b6-9740-2b433ce32202",
      "credentials": {
        "gmailOAuth2": {
          "id": "zgDd4z9vGYJkpg3z",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $json.output || \"\";\n\n// Default subject\nlet subject = \"Message for You\";\n\n// Step 1: Keyword-based detection\nif (/cover letter/i.test(message)) {\n  subject = \"Cover Letter\";\n} else if (/weather/i.test(message)) {\n  subject = \"Weather Update\";\n} else if (/reminder/i.test(message)) {\n  subject = \"Reminder\";\n} else if (/report/i.test(message)) {\n  subject = \"Report\";\n} else if (/update/i.test(message)) {\n  subject = \"Update\";\n} else if (/hello|hi|greeting|good morning|good evening/i.test(message)) {\n  subject = \"Greeting\";\n} else if (/thank/i.test(message)) {\n  subject = \"Thank You Note\";\n} else {\n  // Step 2: Fallback → extract key words\n  const words = message\n    .replace(/[^\\w\\s]/g, \"\") // remove punctuation\n    .split(/\\s+/)\n    .filter(w => w.length > 3); // ignore very short words\n\n  // Take 3 words from start and 3 from end\n  const start = words.slice(0, 3).join(\" \");\n  const end = words.slice(-3).join(\" \");\n\n  subject = `${start} ... ${end}`;\n}\n\n// Step 3: Extract email from the message (if any)\nlet email = null;\nconst emailMatch = message.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,}/);\nif (emailMatch) {\n  email = emailMatch[0];\n}\n\n// Return subject + original message + extracted email\nreturn [\n  {\n    json: {\n      subject,\n      message,\n      email\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        80
      ],
      "id": "0dde1563-bf41-4d51-9eb4-6da823fb648e",
      "name": "Code3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2080,
        400
      ],
      "id": "048a2753-face-49b0-bd51-40cc8bf31c78",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "// Input text from transcription\nconst text = $json.content?.parts?.[0]?.text || \"\";\n\n// Generic and strong prompt for email extraction\nconst prompt = `\nYou are an expert email extractor and validator.\n\nYour task:\n- Find any email address mentioned in the text.\n- Handle cases where the email may be split or obfuscated, e.g.:\n  - extra spaces (\"name @ gmail . com\"),\n  - words instead of symbols (\"name at gmail dot com\"),\n  - local-part broken into multiple words/numbers before \"@\"\n    (e.g., \"john doe 123 @gmail.com\" → \"johndoe123@gmail.com\").\n- Normalize by:\n  - converting to lowercase,\n  - removing unnecessary spaces,\n  - fixing common domain typos (e.g., \"gamil.com\" → \"gmail.com\",\n    \"yaho.com\" → \"yahoo.com\", \"hotmai.com\" → \"hotmail.com\",\n    \"outlok.com\" → \"outlook.com\"),\n  - stripping trailing punctuation.\n- Do not invent an address that is not in the text.\n- If no email exists, return null.\n- Output ONLY valid JSON with one key \"recipient\".\n\nText: \"\"\"${text}\"\"\"\n`;\n\nreturn [{ json: { prompt } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        320
      ],
      "id": "cd7c45ff-3b59-4805-b9fb-69f01aee6e41",
      "name": "Code4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2352,
        624
      ],
      "id": "b9831544-e3be-44b3-96f8-6c2e087fe1b5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Y6b1LGalv1H0QOQh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2112,
        160
      ],
      "id": "7370a2db-b9b7-499d-a371-f010663eeb9a",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "const email = $json.email || \"\";\nconst subject = $json.subject || \"\";\nconst bodyHtml = $json.body || \"\";\n\n// Build a prompt for the AI agent\nconst prompt = `\nYou are a helpful assistant. You need to take the following HTML email body and reformat it professionally for Gmail. \n\nRequirements:\n1. Preserve all the text content.\n2. Apply a clean, professional font (e.g., Arial, sans-serif) and proper line spacing.\n3. Bold important phrases and headings naturally where appropriate.\n4. Remove unnecessary things like empty spaces or irrelevant tags.\n5. Keep it fully HTML so it can be used directly in an n8n Gmail node.\n6. Do not add or change the email recipient or subject, just format the body content.\n\nOriginal HTML Body:\n${bodyHtml}\n\nReturn only the **formatted HTML** in your output.\n`.trim();\n\nreturn [\n  {\n    json: {\n      email,\n      subject,\n      prompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        16
      ],
      "id": "70532ced-d733-4caf-a730-e6d546e0df67",
      "name": "Code5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        96
      ],
      "id": "a4905d7b-0d66-4691-8b05-0aa5ba0e4cad",
      "name": "AI Agent2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        320
      ],
      "id": "6caa11b3-68d0-4c6a-990d-1a4ad39148d8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "Y6b1LGalv1H0QOQh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a744bd59-8b14-4ae1-94e5-c5da288ba6b5",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "a02059e8-c893-4dbb-b8cb-576ca166c4a3",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "6a0e2ab8-1b12-4636-9eb6-89579228c8af",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        240
      ],
      "id": "a23972b8-8b30-4376-a36d-ed9caa3f8308",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "let email = \"\";\nlet subject = \"\";\nlet body = \"\";\n\n// Loop through all items\nfor (const item of items) {\n  // Get email & subject if present\n  if (item.json.email) email = item.json.email;\n  if (item.json.subject) subject = item.json.subject;\n\n  // Get body from Gemini output\n  if (item.json.output) {\n    body = item.json.output\n      .replace(/```html\\s*|```/g, \"\")  // remove code block markers\n      .trim();\n  }\n}\n\n// Return single item for Gmail\nreturn [\n  {\n    json: {\n      email,\n      subject,\n      body\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        240
      ],
      "id": "eca57efc-40e9-4f77-b9d9-b359c2aca174",
      "name": "Code6"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "257fc3e4-62b6-4de0-859e-c30490c2346a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94334e2d77c2e31e77797d8979cf8371d331b9c03663f35ade81039ef25a7154"
  },
  "id": "fmjhlhfGL1ZP9KYI",
  "tags": []
}